.color-warning {
    color: #ff9800;
}

.color-danger {
    color: red;
}

.color-success {
    color: #288c6c;
}

.color-info {
    color: #25b1c3;
}

.margin-top-10px {
    margin-top: 10px;
}

.max-width-height-56-px {
    width: 56px;
    height: 56px;
}

/* Google Maps */

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}